// colors
$primary-color: #1f54cc;
$secondary-color: #ef6a31;
$success-color: #15bf49;
$danger-color: #f44336;
$warning-color: #ff9800;
$neutral-color: #778c9f;
$white-color: #fff;

// btn width-height
$width: 17rem;
$height: 38px;

$min-width: 17rem;
$min-height: 38px;
